/* CSS Document */

.y_gcss_ovrtr_au {
	width: 175px;
	background-color: #FFF;
	visibility: visible; 
	border:1px solid #000;
	position: absolute;
	padding: 0px;
	margin: 0px;
	z-index: 2147483647;
	top: 0px;
}

.y_gcss_ovrtr_au_cbox {
	width: 173px;
	background-color: #FFF;
	border-top:1px solid #CCC;
	margin: 0px;
	padding: 6 0 6 0px;
	top: 0px;
}

.y_gcss_ovrtr_msthd {
	width: 175px;
	background-color: #FFF;
	visibility: visible;
	border:1px solid #000;
	position: absolute;
	padding: 0px;
	margin: 0px;
	z-index: 2147483647;
	top: 0px;
}

.y_gcss_ovrtr_cntr {
	width: 175px;
	background-color: #FFF;
	visibility: visible;
	padding: 0px;
	margin: 0px;
	z-index: 2147483647;
	top: 0px;
}

.y_gcss_glrnk {
	width: 170px;
	background-color: #FFF;
	visibility: visible;
	position: absolute;
	padding: 0px;
	margin: 0px;
	z-index: 3;
	top: 35px;
	left: 0px;
}

